<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Contact <small>Feel free to say hello!</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  <p>
    <%= flash[:notice] %>
  </p>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
</div>


