<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Help <small>A few commonly asked questions</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  
    <%= flash[:notice] %>
    
    <p class="intro">Here you'll find a number of answers to commonly asked questions and topics that might help you better understand and use Weefolio. If you ever have anymore questions, you can always feel free to <a href="">contact us</a>!</p>
  
  	<div class="col-left">
  		<ul class="topics">
  			<li>
		  		<h2>Topic</h2>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
  			</li>
  			
  			<li>
		  		<h2>Topic</h2>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
  			</li>
  			
  			<li>
		  		<h2>Topic</h2>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
		  		
		  		<dl>
		  			<dt>This is the question.</dt>
		  			<dd>This is the answer.</dd>
		  		</dl>
  			</li>
  		</ul>
  	</div>
</div>