<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Home<small>  Is where the heart is.</small></h1>
		
		<div class="call-to-action">
			<!--THIS IS WHERE YOU CAN PUT 'ADD NEW WORK' LINKS ETC.
			<a href="#">Call to action!</a>
			-->
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  <p>
    <%= flash[:notice] %>
  </p>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
</div>


