<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<div class="welcome-container">
			<h1>Lil' portfolios for<br/> the rest of us!</h1>
			
			<p>
				Weefolios are simple, little online portfolios for all kinds of creative professionals. Weefolio is a great place to show off your work online.
			</p>
			
			<div class="sign-up-button">
				<a href="/signup">Sign Up! free!</a>
			</div>
		</div>
		
		<div class="featured-weefolio">
			<img class="featured" width="400" height="180" src="/images/featured/christian_schimke.jpg"/>
		</div>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
    
    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>
	
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	
	<ul class="features">
		<li>
			<img width="199" height="100" src="/images/feature-setup.jpg"/>
			
			<div class="description">
				<h2>Quick setup</h2>

				<p>
					Sign up and you'll have your own portfolio site up and running in seconds! All for free!
				</p>
				
				<p>
					<a href="#">Sign Up Today!</a>
				</p>
			</div>
		</li>
		
		<li>
			<img width="199" height="100" src="/images/feature-work.jpg"/>
			
			<div class="description">
				<h2>Show off your work</h2>

				<p>
					Easily manage, sell, and show off your work with Weefolio's simple porfolio manager.
				</p>
				
				<p>
					<a href="#">Learn More</a>
				</p>
			</div>
		</li>
		
		<li>
			<img width="199" height="100" src="/images/feature-style.jpg"/>
			
			<div class="description">
				<h2>Style simply</h2>

				<p>
					Customize you portfolio with Weefolio's easy-to-use design or CSS editor.
				</p>
				
				<p>
					<a href="#">Learn More</a>
				</p>
			</div>
		</li>
	</ul>
	
	<% if logged_in? %>
	  <% if current_user.admin? %>
	    Admin Actions
	    <p>
	      <%= link_to 'Users', users_admin_path %> | <%= link_to 'Pieces', pieces_admin_path %> | <%= link_to 'Blog Console', posts_path %>
	    </p>
	  <% end %>
	<% end %>
</div>


