<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Privacy Policy <small>Effective February 10th, 2010</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container" class="main-help">
	<div class="column">
		<p class="intro">This privacy policy (this &#8220;Privacy Policy&#8221;) sets forth the privacy practices of Fancy Labs LLC (the &#8220;Company&#8221;) relating to your use of the software application and content hosting service offered by the Company (the &#8220;Service&#8221;) and the web site owned, operated and maintained by the Company and located at www.weefolio.com (the &#8220;Site&#8221;).</p>
		
		<p>If you believe that the Company is not abiding by the terms and conditions of this Privacy Policy, you should contact the Company&#8217;s privacy manager by e-mail at hello@fancylabs.com. </p>
		
		<h2>Information Collection and Use</h2>
		
		<p>Information regarding you and/or your affiliates relating to your use of the Service or the Site and collected by the Company will not be sold, shared or rented by the Company to or with any third party, except as otherwise disclosed in this Privacy Policy or if required by any governmental agency or applicable law, rule or regulation.</p>
		
		<h2>Registration</h2>
		
		<p>You must register to use the Service and certain features of the Site. During registration, you will be required to provide the Company with certain contact information, including your name and email address (&#8220;Contact Information&#8221;).  Your Contact Information may be used by the Company to contact you regarding products and services offered on or through the Site or relating to the Service for which you have expressed interest or in which the Company believes you may have an interest, or to notify you of material changes to the Service or the Site.  The Company may, from time to time, request additional information from you relating to your business operations, finances, preferences and other information, the provision of which is optional.  The Company encourages you to provide all requested information so that the Service and the Site can be personalized for you.</p>
		
		<h2>Service Orders</h2>
		
		<p>The Company may require certain information to process your service requests (e.g., your name, credit card number and expiration date, and related information).  This information will be used by the Company for billing purposes, for filing service orders, and to contact you if the Company experiences problems processing a request or otherwise deems it necessary to contact you regarding a service order.</p>
		
		<h2>Cookies</h2>
		
		<p>A cookie is a tiny piece of data that is stored on your hard drive. It contains information about you. A cookie is linked to information while you are using the Service or visiting the Site.</p>
		
		<p>Cookies make it possible for the Company to offer you many advantages because they provide the Company with information that it can use to make the Service and the Site more personalized for you.  For instance, cookies can alleviate the need for you to log in a password each time you use the Site.</p>
		
		<p>In order to use the Service, your browser must accept cookies. Each time you log on to the Service as a regular subscriber, a cookie may be created on your computer that brings the Service to you with the functionalities and settings you have chosen.  More information about cookies can be found by using your browser&#8217;s &#8220;help&#8221; function.</p>
		
		<h2>Log Files</h2>
		
		<p>The Company uses IP addresses to analyze trends, administer the Site, monitor usage, improve the Service, and gather broad demographic information for the Company&#8217;s aggregate use.  The Company does not link IP addresses to any of your personal information.</p>
		
		<h2>Children&#8217;s Personal Information</h2>
		
		<p>This site is intended for use by only those age 13 or older.  The Company does not knowingly collect any information by anyone under 13 years of age nor knowingly allow those under 13 years of age to access the Site.  </p>
		
		<h2>Sharing</h2>
		
		<p>The Company may share aggregated demographic information with its affiliates; provided, however, that none of this information will specifically identify you.  The Company may use an outside credit card processing company to handle its billing.  This outside company will have represented to the Company that it does not retain, share or use your personal information for any commercial or other purposes.</p>
		
		<h2>Links</h2>
		
		<p>The Site and the Service contain links to other sites.  The Company is not responsible for the privacy practices of these other sites.  The Company encourages you to read the privacy statements of each and every web site that collects information from you.  This Privacy Policy applies only to information collected by the Company.</p>
		
		<h2>Surveys </h2>
		
		<p>From time to time, the Company may request information from you via surveys.  Participation in these surveys is completely voluntary.  Information requested may include Contact Information and demographic or other information, and will be used to monitor use of and improve the contents of the Site.</p>
		
		<h2>Security</h2>
		
		<p>The Company will exercise commercially reasonable efforts consistent with current industry standards to protect your information.  Sensitive information such as your credit card number and other personal information is encrypted in methods in accordance with standard practices in the industry.</p>
		
		<h2>Site and Service Updates</h2>
		
		<p>The Company reserves the right to send you brief announcements via e-mail regarding material updates or changes to the Service and/or the Site. </p>
		
		<h2>Notification of Changes</h2>
		
		<p>If the Company decides to amend or otherwise alter this Privacy Policy, it will post any changes on the Site and may, in its sole discretion, also e-mail you a notification regarding such change(s).  You are responsible for periodically reviewing the current version of this Privacy Policy as posted on the Site to be familiar with the information the Company collects, how its uses such information, and under what circumstances, if any, the Company may disclose such information.  If the Company decides to use your information for a purpose(s) other than as provided for in the version of this Privacy Policy in effect at the time such information was collected, the Company will notify you by email and provide you with an opportunity to object.</p>
	</div>
</div>