<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Terms of Use <small>Effective February 10th, 2010</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container" class="main-help">
	<div class="column">
		<p class="intro">Your use of the web site owned, operated and maintained by Fancy Labs LLC (the &#8220;Company&#8221;) and located at http://www.weefolio.com (the &#8220;Site&#8221;) and your use of the software application and content hosting service offered by the Company (the &#8220;Services&#8221;), including any and all related products and services available through or accessible from the Site, shall be governed by the policies, terms and conditions hereinafter set forth (these &#8220;Terms and Conditions&#8221;).</p>
		
		<p>By using the Services and/or the Site, you acknowledge and agree to be bound by these Terms and Conditions, and waive any right you may otherwise have had to object to these Terms and Conditions.  As a condition of your use of the Services and/or the Site, you hereby represent and warrant that you will not use the Services or the Site for any purpose that is unlawful or otherwise prohibited by these Terms and Conditions.  If you do not agree with any of these Terms and Conditions, you are not authorized to use the Services or the Site.</p>
		
		<p>The Company reserves the right to modify, amend, update and change the Site and/or these Terms and Conditions from time to time without notice to users of the Site or the Services.  You are responsible for regularly viewing these Terms and Conditions.  The Company also reserves the right, at any time and from time to time, to modify or discontinue, temporarily or permanently, any of the Services, with or without notice.  You agree that the Company shall not be liable to you or to any third party for any modification, amendment, suspension, discontinuance or other change to the Site, the Services or these Terms and Conditions.</p>
		
		<h2>LINKS</h2>
		
		<p>The Site may contain links to other web sites, web pages, services and resources that are operated by parties other than the Company.  Any reference to or description within the Site of third parties, products, services or publications shall not be deemed an endorsement of such third parties,  products, services or publications.  The Company is not responsible for the contents or availability of any such other site and does not endorse and is not responsible in any way for any content, advertising, products, services or other materials on or available at, from or through such other sites.  You agree that the Company shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with your use of or reliance on any such content, advertising, products, services or other materials on or available at, from or through any such other site.</p>
		
		<h2>AUTHORIZED USE OF MATERIAL </h2>
		
		<p>Unless otherwise indicated, the contents of all material made available in connection with the Services or on the Site are copyrighted by the Company, and all rights are reserved.  You may not alter, modify, reformat, display, transmit, publish, license, create derivative works from, reverse engineer, reproduce, duplicate, copy, transfer, distribute, disseminate, sell, resell or otherwise exploit for any commercial purposes any information, software, documents, graphics, products or services obtained from or made available through your use of the Services or the Site without the express written consent of the Company.</p>
		
		<h2>MEMBER CONDUCT</h2>
		
		<p>You agree to provide true, accurate, current and complete data and information about yourself and/or any Content you provide or upload in connection with your use of the Site and/or the Services.  In the event you provide any data or information which is untrue, inaccurate, not current or incomplete, or if the Company has reasonable grounds to suspect that any information you provide is untrue, inaccurate, not current or incomplete, the Company has the right to immediately suspend, terminate or restrict your use of the Site or the Services. </p> 
		
		<p>You understand that all information, data, text, software, music, sound, photographs, graphics, video, messages or other materials (cumulatively, &#8220;Content&#8221;), whether publicly posted or privately transmitted, are the sole responsibility of the party from whom or which such Content originated.  This means that you, and not the Company, are entirely responsible for all Content that you upload, post, email or otherwise transmit via the Site or through any of the Services.  You represent and warrant that you have the requisite legal rights to and ownership of any information which you upload, post, email or otherwise transmit, and that such uploading, posting, emailing or other transmission will not violate any law or the rights of any other person.  By posting any Content on the Site, you give the Company the royalty-free, irrevocable, perpetual, worldwide right to allow the Company to use, distribute, display and create derivative works from such Content, without any restriction or responsibility to you.</p>
		
		<p>You agree not to use the Site or the Services:</p>
		
		<ol class="abc">
			<li>in violation of these Terms and Conditions, any applicable laws, or the rights of any other person;</li>
			
			<li>to upload, post, email or otherwise transmit any Content that is unlawful, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, distasteful, libelous, invasive of another&#8217;s privacy, hateful or racially, ethnically, sexually or otherwise objectionable;	</li>
			
			<li>to harm minors in any way, including without limitation encouraging interactions with minors of a sexual nature;</li>
			
			<li>to impersonate or misrepresent a relationship with any person or entity, including without limitation a Company employee or officer, or to falsely state or otherwise misrepresent your identity or your affiliation with a person or entity;</li>
			
			<li>to manipulate the Site or the Services in any way in order to disguise the origin of any Content transmitted via the Site or the Services;</li>
			
			<li>to upload, post, email or otherwise transmit any Content that you do not have a right to transmit under any law or under contractual or fiduciary relationships (such as, but not limited to, inside information, or proprietary and confidential information learned or disclosed as part of employment relationships or under non-disclosure agreements);</li>
			
			<li>to upload, post, email or otherwise transmit any Content that infringes any patent, trademark, trade secret, copyright or other intellectual property or other proprietary rights of any party;</li>
			
			<li>to upload, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, &#8220;junk mail,&#8221; &#8220;spam,&#8221; &#8220;chain letters,&#8221; &#8220;pyramid schemes,&#8221; or any other form of solicitation, except in those areas, if any, that are expressly designated for such purpose;</li>
			
			<li>to upload, post, email or otherwise transmit any material that contains software viruses or any other computer code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware or telecommunications equipment of the Company or any other users of the Site or the Services;</li>
			
			<li>to interfere with or disrupt the Site or the Services, or any of the Company&#8217;s servers or networks, or disobey any requirements, procedures, policies or regulations of any network connected to the Site;</li>
			
			<li>to interfere with or disrupt any other party&#8217;s use and enjoyment of the Site and/or the Services;</li>
			
			<li>to violate, intentionally or unintentionally, any applicable local, state, national or international law, including without limitation regulations promulgated by the United States Securities and Exchange Commission, any rules of any national or other securities exchange, including without limitation the New York Stock Exchange, the American Stock Exchange or the NASDAQ, and any other regulations having the force of law;</li>
			
			<li>to &#8220;stalk&#8221; or otherwise harass, threaten or abuse another person;</li>
			
			<li>to collect or store personal data about other users, for commercial use or otherwise, without their consent; or</li>
			
			<li>if you are under 13 years of age.</li>
		</ol> 
		
		<p>You acknowledge that the Company does not pre-screen Content, but that the Company and its designees shall have the right (but not the obligation), in its sole discretion, to refuse or remove any Content that is available via the Site or the Services.  Without limiting the foregoing, the Company and its designees shall have the right to remove any Content that violates these Terms and Conditions or, in the Company&#8217;s sole discretion, is otherwise objectionable.  You agree that you bear all risks associated with the use of any Content, including any reliance on the accuracy, completeness or usefulness of such Content. </p>
		
		<p>You acknowledge and agree that the Company may preserve Content and may also disclose Content if required to do so by law or in the good faith belief that such preservation or disclosure is reasonably necessary to: (a) comply with legal process or government request; (b) enforce these Terms and Conditions; (c) respond to claims that any Content violates the rights of third-parties; or (d) protect the rights, property or personal safety of the Company, users of the Site and the Services, and/or the public. </p>
		
		<h2>DISCLAIMER OF WARRANTIES</h2>
		
		<p>YOUR USE OF THE SERVICE AND THE SITE IS AT YOUR OWN RISK.  YOU UNDERSTAND THAT THE SERVICES, AND THE INFORMATION, SOFTWARE, DOCUMENTS, SERVICES, PRODUCTS, TEXT, GRAPHICS, LOGOS, LINKS OR OTHER ITEMS AND MATERIALS INCLUDED IN OR AVAILABLE AT, FROM OR THROUGH THE COMPANY OR THE SITE, ARE PROVIDED &#8220;AS IS&#8221; WITHOUT ANY EXPRESS OR IMPLIED WARRANTY OF ANY KIND.  THE SERVICE AND ALL SUCH MATERIALS MAY BE MODIFIED, AMENDED, REVISED, UPDATED OR CHANGED BY THE COMPANY AT ANY TIME. THE COMPANY RESERVES THE RIGHT TO MODIFY, AMEND, REVISE, UPDATE OR CHANGE THE SERVICE AND THE INFORMATION AND MATERIALS CONTAINED IN THE SITE FROM TIME TO TIME, BUT IS UNDER NO OBLIGATION TO DO SO. </p>
		
		<p>TO THE FULLEST EXTENT PERMITTED BY LAW, THE COMPANY HEREBY DISCLAIMS ALL IMPLIED WARRANTIES OF ANY KIND, INCLUDING WARRANTIES OF MERCHANTABILITY, SUITABILITY, NON-INFRINGEMENT OR FITNESS FOR A PARTICULAR PURPOSE. THE COMPANY DOES NOT WARRANT THAT THE RESULTS OBTAINED FROM YOUR USE OF THE SERVICE OR THE SITE WILL MEET YOUR EXPECTATIONS.  THE COMPANY ASSUMES NO RESPONSIBILITY FOR ANY INACCURACIES, TYPOGRAPHICAL ERRORS, OUTDATED INFORMATION OR OMISSIONS CONTAINED IN THE SITE, OR ANY CONTENT CONTAINED IN THE SITE WHICH YOU MAY FIND OFFENSIVE OR OTHERWISE OBJECTIONABLE.</p>
		
		<h2>LIMITATION OF LIABILITY</h2>
		
		<p>TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL THE COMPANY OR ANY SUBSIDIARY, AFFILIATE, OFFICER, MANAGER, MEMBER, AGENT, EMPLOYEE OR REPRESENTATIVE THEREOF BE LIABLE TO YOU OR ANY THIRD PARTY MAKING A CLAIM THROUGH YOU FOR ANY DAMAGES WHATSOEVER, INCLUDING BUT NOT LIMITED TO ANY SPECIAL, INCIDENTAL, DIRECT, INDIRECT, PUNITIVE OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING WITHOUT LIMITATION DAMAGES FOR LOSS OR DESTRUCTION OF CONTENT, DATA OR INFORMATION,  LOSS OF PROFITS, LOSS OF USE, BUSINESS INTERRUPTION OR THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES OR PRODUCTS, UNAUTHORIZED ACCESS TO AND/OR TAMPERING WITH YOUR PERSONAL INFORMATION OR RECORDS) ARISING OUT OF OR RELATED TO YOUR USE, INABILITY TO USE, UNAUTHORIZED USE, PERFORMANCE OR NON-PERFORMANCE OF THE SERVICE OR THE SITE, EVEN IF THE COMPANY HAS BEEN ADVISED OF THE POTENTIAL FOR SUCH DAMAGES AND WHETHER SUCH DAMAGES ARISE IN CONTRACT, NEGLIGENCE, TORT, UNDER STATUTE, IN EQUITY, AT LAW OR OTHERWISE.</p>
		
		<h2>INDEMNIFICATION</h2>
		
		<p>You agree to defend, indemnify and hold the Company, its subsidiaries, affiliates, managers, officers, members, agents, employees and representatives harmless from and against any loss, damage, liability, cost or expense of any kind, including attorneys&#8217; fees and other professionals&#8217; fees, incurred by the Company in connection with a third party claim, action or demand due to, arising out of, related to or otherwise attributable to your use of the Service or the Site, including without limitation your use of any third party information or content in connection with your use of the Service or the Site, or your violation of these Terms and Conditions.</p>
		
		<h2>COPYRIGHT DISPUTE POLICY</h2>
		
		<p>The Company has adopted a general policy toward addressing copyright infringement in accordance with the Digital Millennium Copyright Act of 1998, as amended (the &#8220;DMCA&#8221;). </p>
		
		<p>The Company is dedicated to complying with U.S. Copyright Law generally and the DMCA specifically.  If the Company receives a notification of suspected copyright infringement that complies with the requirements of Section 512 of the DMCA, the Company will remove and/or prohibit access to such Content.  If the Company later receives a counter-notice that complies with Section 512 of the DMCA, the Company, may, in its sole discretion, send a copy of the counter-notice to the original complaining party informing that party that the Company may restore the removed Content in 10 business days.  If the original complaining party then does not file an action seeking a court order against the user within 10 business days, a copy of which is actually received by the Company, the Company may restore the previously removed material, in its sole discretion, back on to the Site.  
		
		<p>If you believe, in good faith, that any Content residing on or available through the Site infringes on your copyright, please provide a written notice of copyright infringement containing the information required by Section 512 of the DMCA to the following email address:</p>
		
		<p><a href="mailto:hello@fancylabs.com">hello@fancylabs.com</a></p>
		
		<p>All other notices and other counter-notices may be sent to the email address above as well. </p>
		
		<h2>GOVERNING LAW</h2>
		
		<p>These Terms and Conditions shall be interpreted, construed, governed by and enforced in accordance with the laws of the State of New York.  Under no circumstances shall the laws of any other state be applied, even where such a result would be indicated by choice of law rules.  By using the Service and the Site, you hereby irrevocably consent to the personal and exclusive jurisdiction and venue of federal and state courts in Monroe County, New York regarding any and all disputes relating to these Terms and Conditions or your use of the Service or the Site. </p>
		
		<h2>GENERAL</h2>
		
		<p>These Terms and Conditions, together with the Company&#8217;s &#8220;Privacy Policy&#8221; and subject to any license agreement or similar arrangement by and between you or any of your affiliates and the Company relating to the Service, shall constitute the entire agreement and understanding between you and the Company regarding your use of the Service and the Site.  No other agreement or understanding purporting to modify these Terms and Conditions shall be binding upon the Company unless agreed to by the Company in writing.  The failure of the Company to exercise or enforce any right or provision of these Terms and Conditions shall not constitute a waiver of such right or provision.  Any provision of these Terms and Conditions which is invalid or unenforceable in any jurisdiction shall be ineffective to the extent of such invalidity or unenforceability without invalidating or rendering unenforceable the remaining provisions hereof; and any such invalidity or unenforceability in any jurisdiction shall not invalidate or render unenforceable such provision in any other jurisdiction.</p>
	</div>
</div>