<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
	  <h1>Login<small></small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  <p>
    <%= flash[:notice] %>
  </p>
	<!--DUMP ALL OF YOUR SHIT HERE!-->
	<% form_tag session_path do %>
		<fieldset>
			<h2>Login</h2>
			<dl>
			    <dt>
			      <label for="login">Username</label>
			    </dt>
			    <dd>
			      <%= text_field_tag 'login', @login, :size => 30 %>
			    </dd>
			
			    <dt>
			      <label for="password">Password</label>
			    </dt>
			    <dd>
			      <%= password_field_tag 'password', nil, :size => 30 %>
			    </dd>
			    
			    <dt>&nbsp;</dt>
			    <dd><a href="#">Forgot your password?</a></dd>
    		</dl>
    	</fieldset>
    	
    	<div class="submit">
    	  <%= submit_tag 'Login' %>
    	</div>
  <% end %>
</div>
	





