A new theme has been uploaded!

<p>
  <%= @theme_upload.title %> (by <%= @user.login %>)
</p>

<p>
  Go <%= link_to "here", admin_theme_upload_url(@theme_upload) %> to check it out and download stuff.
</p>

<p>
  Most Sincerely Yours,
</p>

<p>
  Theme Robot.
</p>