A new theme has been uploaded!

<p>
  <%= @theme_upload.title %> (by <%= @user.login %>)
</p>

<p>
  Go the <a href="http://weefolio.com/admin/theme_uploads">admin console</a> to check it out and download stuff.
</p>

<p>
  Most Sincerely Yours,
</p>

<p>
  Theme Robot.
</p>