<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Themes <small>Choose from our ever growing gallery of Weefolio themes!</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
	<div class="column">  
		<ul class="themes">
		 <li class="theme">
		  <div class="image">
		   <img class="thumbnail" width="230" height="150"/>
		   
		   <div class="options">
		    <a class="button preview" href="#">Preview</a>
		    <a class="button install" href="#">Install</a>
		   </div>
		  </div>
		  
		  <div class="info">
		   <h2>Theme Name</h2>
		   <p>by <a href="#">Username</a></p>
		  </div>
		 </li>
		 
		 <li class="theme">
		  <div class="image">
		   <img class="thumbnail" width="230" height="150"/>
		   
		   <div class="options">
		    <a class="button preview" href="#">Preview</a>
		    <a class="button install" href="#">Install</a>
		   </div>
		  </div>
		  
		  <div class="info">
		   <h2>Theme Name</h2>
		   <p>by <a href="#">Username</a></p>
		  </div>
		 </li>
		 
		 <li class="theme">
		  <div class="image">
		   <img class="thumbnail" width="230" height="150"/>
		   
		   <div class="options">
		    <a class="button preview" href="#">Preview</a>
		    <a class="button install" href="#">Install</a>
		   </div>
		  </div>
		  
		  <div class="info">
		   <h2>Theme Name</h2>
		   <p>by <a href="#">Username</a></p>
		  </div>
		 </li>
		 
		 <li class="theme">
		  <div class="image">
		   <img class="thumbnail" width="230" height="150"/>
		   
		   <div class="options">
		    <a class="button preview" href="#">Preview</a>
		    <a class="button install" href="#">Install</a>
		   </div>
		  </div>
		  
		  <div class="info">
		   <h2>Theme Name</h2>
		   <p>by <a href="#">Username</a></p>
		  </div>
		 </li>
		</ul>
	</div>
</div>


