<h1>Weefolio Admin</h1>

<p>
  OMG we have <%= @user_count %> users!!!!!!!
</p>

<p>
  <%= link_to 'Users', admin_users_path %>
</p>

<p>
  <%= link_to "Themes", admin_themes_path %>
</p>

<p>
  <%= link_to "Theme Uploads", admin_theme_uploads_path %>
</p>

