/*---GLOBAL---*/

body {
	background: #f5f5f3;
	margin: 0 0 100px 0;
	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #767574;
	}
	
a:link,
a:visited {
	color: #9fcf44;
	}
	
a:hover,
a:visited:hover {
	color: #242420;
	}
	
a.question {
	background: url(/images/question-icon.gif) no-repeat left center;
	padding: 0 0 1px 15px;
	}
	
a.download {
	background: url(/images/download-icon.gif) no-repeat left center;
	padding: 0 0 1px 15px;
	}
	
pre, code {
	color: #242420;
	}
	
pre.block, code.block {
	padding: 15px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 2px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 1px solid #ececea;
	border-left: 1px solid #ececea;
	}
	
/*---GLOBAL HEADERS---*/

h2, h3, h4, h5, h6 { color: #242420;}
	
h2 { font-size: 14px; }
h3 { font-size: 11px; }
h4, h5, h6 { font-weight: normal; }	
	
/*---GLOBAL LISTS---*/

ol.abc {
	list-style: lower-alpha;
	}
	

/*---GLOBAL BUTTONS---*/

a.secondary-button,
button.secondary-button {
  padding: 5px 10px;
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	background: #8fbbbb;
	text-decoration: none;
	text-shadow: 0 -1px 0 #5e878e;
	border: 1px solid #5e878e;
	border-bottom: 2px solid #5e878e;
}

a.secondary-button:hover,
button.secondary-button:hover {
  color: #fff;
  background-color: #a0c8c7;
  cursor:  pointer;
}
	

/*---GLOBAL STRUCTURES---*/

div.page-container {
	width: 850px;
	margin: 0 auto;
	}
	
div.header-container {
	background: #ff4715 url(../images/header-container-background.gif) repeat-x top;
	overflow: hidden;	padding: 0 20px;
	clear: both;
	height: 55px;
	}
	
div.page-header-container-outer {
	background: url(../images/page_header_container_outer_background.gif) no-repeat 0 0;
	overflow: hidden;
	}
	
div.page-header-container-inner {
	background: url(../images/page_header_container_inner_background.gif) no-repeat bottom center;
	padding: 20px 40px;
	overflow: hidden;
	}
	
div.content-container {
	background: #fff;
	padding: 20px;
	overflow: hidden;
	border-bottom: 2px solid #ececea;
	}
	
div.column {
	overflow: hidden;
	}
	
div.content-container div.column.primary {
	width: 505px;
	float: left;
	}
	
div.content-container div.column.secondary {
	width: 285px;
	float: right;
	}
	
div.footer-container {
	margin: 25px 0 0 0;
	padding: 0 20px;
	}
	
/*--GLOBAL NAV--*/

ul#global-nav {
	float: right;
	margin: 30px 20px 30px 0;
	padding: 0;
	list-style: none;
	}
	
ul#global-nav li {
	display: inline;
	margin: 0 0 0 15px;
	}
	
ul#global-nav li.welcome {
	background: #fff;
	padding: 7px 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ececea;
	border-bottom: 2px solid #ececea
	}
	
ul#global-nav li.welcome span.username {
	}
	
ul#global-nav li.welcome a:link,
ul#global-nav li.welcome a:visited {
	color: #9fcf44;
	text-shadow: none;
	text-decoration: underline;
	}
	
ul#global-nav li.welcome a:hover,
ul#global-nav li.welcome a:visited:hover {	
	color: #242420;
	text-decoration: underline;
	}
	
ul#global-nav li a:link,
ul#global-nav li a:visited {
	color: #767574;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	}
	
ul#global-nav li a:hover,
ul#global-nav li a:visited:hover {	
	color: #242420;
	}
	
ul#global-nav li:first-child a:link,
ul#global-nav li:first-child a:visited {
	display: inline-block;
	width: 9px;
	height: 10px;
	overflow: hidden;
	text-indent: -1000px;
	background-image: url(../images/global-home-icon.gif);
	background-position: 0 0;
	position: relative;
	top: 1px;
	}
	
ul#global-nav li:first-child a:hover,
ul#global-nav li:first-child a:visited:hover {
	background-position: 0 -10px;
	}


/*--GLOBAL NOTIFICATIONS--*/

div#notice,
div#warning,
div#errorExplanation {
	background: #ffffcc;
	border: #f1e29c 1px solid;
	padding: 13px;
	margin: 0 0 20px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: #242420;
	}


/*--HEADER--*/

div.header-container a#header-logo {
	float: left;
	display: block;
	width: 120px;
	height: 35px;
	overflow: hidden;
	text-indent: -1000px;
	background-image: url(../images/header-logo.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	margin: 11px 0 0 0;
	}
	
div.header-container a#header-logo:hover {
	background-position: 0 -35px;
	}
	

/*--USER NAV--*/

div.header-container ul#user-nav {
	float: right;
	list-style: none;
	margin: 0;
	position: relative;
	right: -5px;
	}
	
div.header-container ul#user-nav li {
	float: left;
	padding: 0;
	}
	
div.header-container ul#user-nav li#or {
	background: url(../images/user-nav-background.gif) -344px 0;
	height: 55px;
	width: 13px;
	overflow: hidden;
	text-indent: -5000px;
	margin: 0 0 0 10px;
	}
	
div.header-container ul#user-nav li a:link,
div.header-container ul#user-nav li a:visited {
	display: block;
	float: left;
	height: 55px;
	background-image: url(../images/user-nav-background.gif);
	background-repeat: no-repeat;
	margin: 0 0 0 25px;
	text-indent: -5000px;
	overflow: hidden;
	}

div.header-container ul#user-nav li#portfolio a:link,
div.header-container ul#user-nav li#portfolio a:visited {
	background-position: 0 0;
	width: 82px;
	}
	
div.header-container ul#user-nav li#portfolio.selected a:link,
div.header-container ul#user-nav li#portfolio.selected a:visited {
	background-position: 0 -55px;
	width: 82px;
	}
	
div.header-container ul#user-nav li#design a {
	background-position: -82px 0;
	width: 54px;
	}
	
div.header-container ul#user-nav li#design.selected a {
	background-position: -82px -55px;
	width: 54px;
	}

div.header-container ul#user-nav li#account a {
	background-position: -136px 0;
	width: 70px;
	}
	
div.header-container ul#user-nav li#account.selected a {
	background-position: -136px -55px;
	width: 70px;
	}
	
div.header-container ul#user-nav li#my-weefolio a:link,
div.header-container ul#user-nav li#my-weefolio a:visited {
	background-position: -357px 0;
	width: 128px;
	}
	
div.header-container ul#user-nav li#my-weefolio a:hover,
div.header-container ul#user-nav li#my-weefolio a:visited:hover {
	background-position: -357px -55px;
	}
	
div.header-container ul#user-nav li#sign-up a:link,
div.header-container ul#user-nav li#sign-up a:visited {
	background-position: -206px 0;
	width: 66px;
	}

div.header-container ul#user-nav li#sign-up.selected a:link,
div.header-container ul#user-nav li#sign-up.selected a:visited {
	background-position: -206px -55px;
	width: 66px;
	}
	
div.header-container ul#user-nav li#login a:link,
div.header-container ul#user-nav li#login a:visited {
	background-position: -272px 0;
	width: 71px;
	margin: 0 0 0 10px;
	}
	
div.header-container ul#user-nav li#login a:hover,
div.header-container ul#user-nav li#login a:visited:hover {
	background-position: -272px -55px;
	}


/*--PAGE HEADER--*/

div.page-header-container-inner h1 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 26px;
	color: #fff;
	font-weight: normal;
	margin: 3px 0;
	float: left;
	line-height: 25px;
	display: block;
	text-shadow: 0 1px 2px #000;
	}
	
div.page-header-container-inner h1 small {
	font-size: 13px;
	color: #9e9d9b;
	font-style: italic;
	margin: 0;
	}
	
div.page-header-container-inner div.call-to-action {
	float: right;
	}
	
div.page-header-container-inner a:hover,
div.page-header-container-inner a:visited:hover {
	color: #fff;
	}
	
	
/*--CONTENT--*/
	
div.content-container p.intro {
	padding: 15px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 10px 0;	
	border-top: 2px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 1px solid #ececea;
	border-left: 1px solid #ececea;
	}
	

	
div.content-container div.column.secondary ul.content-nav {
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 20px 0;
	list-style: none;
	}
	
div.content-container div.column.secondary ul.content-nav h2 {
	font-size: 11px;
	margin-bottom: 0;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #ececea;
	}
	
div.content-container div.column.secondary ul.content-nav li a, div#content-container div.column-secondary ul.content-nav li ul li a {
	padding: 7px 0 8px 15px;
	border-bottom: 1px solid #ececea;
	display: block;
	background: url(/images/content-nav-arrow.gif) left center no-repeat;
	}
	

/*--WIDGETS--*/

div.content-container div.column.secondary ul.widgets {
 padding: 0;
 margin: 0;
 list-style: none;
 }

div.content-container div.column.secondary ul.widgets li.widget {
 background: #f5f5f3;
 padding: 0 15px;
 border-radius: 3px;
  -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	margin: 0 0 10px 0;
	display: block;
	font-size: 11px;
	border: 1px solid #ececea;
	border-top-width: 2px;
	}
	
div.content-container div.column.secondary ul.widgets li h2 { 
 font-size: 11px;
 }
 

/*--WIDGETS > SIGN UP--*/

div.content-container div.column.secondary ul.widgets li.sign-up h2 {
 background: url(../images/widgets/sign-up-icon.gif) left center no-repeat;
 padding: 0 0 0 17px;
 }
 
/*--WIDGETS > UPGRADE--*/

div.content-container div.column.secondary ul.widgets li.upgrade h2 {
 background: url(../images/widgets/upgrade-icon.gif) left center no-repeat;
 padding: 0 0 0 17px;
 }
 
 
/*--WIDGETS > CLOSE ACCOUNT--*/

div.content-container div.column.secondary ul.widgets li.close-account p {
 background: url(../images/widgets/x-icon.gif) left center no-repeat;
 padding: 0 0 0 15px;
 }
		
/*--FOOTER--*/

div.footer-container a#footer-logo {
	display: block;
	float: left;
	width: 57px;
	height: 33px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../images/footer-logo.gif) 0 0 no-repeat;
	margin: 0 7px 0 0;
	position: relative;
	top: -8px;
	}
	
div.footer-container div#legal {
	float: left;
	text-shadow: 0 1px 0 #fff;
	}
	
div.footer-container ul#footer-nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
div.footer-container ul#footer-nav li {
	display: inline;
	margin: 0 0 0 15px;
	}
	
div.footer-container a:link,
div.footer-container a:visited {
	color: #767574;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	}
	
div.footer-container a:hover,
div.footer-container a:visited:hover {
	color: #242420;
	}

div.footer-container ul#footer-nav li.social {
  margin-left: 10px;
}

div.footer-container ul#footer-nav li.social a img {
  vertical-align: middle;
  margin: 0 0 0 5px;
  position: relative;
  top: -1px;
}
	
	
/*-- GLOABL PAGINATION --*/

div.pagination {
  height: 30px;
  margin: 15px 0 0 0;
  text-align: center;
}

div.pagination a:link,
div.pagination a:visited {
  border: 1px solid #ececea;
  padding: 7px 10px 8px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-width: 2px;
}

div.pagination a:hover,
div.pagination a:visited:hover {
  border-color: #767574;
}

div.pagination span.current {
  border: 1px solid #767574;
  padding: 7px 10px 8px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #242420;
  border-bottom-width: 2px;
}

div.pagination span.disabled {
  border: 1px solid #ececea;
  padding: 7px 10px 8px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-bottom-width: 2px;
}

	 
/*-- GLOBAL FORMS --*/

div.content-container div.column form {
	overflow: hidden;
	margin: 0;
	padding:  0;
	}
	
div.content-container div.column form fieldset {
	border: 0;
	overflow: hidden;
	margin: 0;
	padding: 15px 0 0 0;
	}
	
div.content-container form fieldset legend {
 border-bottom: 1px solid #ececea;
 width: 100%;
 display: block;
 font-weight: bold;
 color: #242420;
 padding: 0 0 8px 22px;
 background: url(../images/legend-icon.gif) no-repeat 0 0;
 }
	
div.content-container form fieldset dl {
	padding: 0;
	margin: 0 0 10px 0;
	list-style: none;
	overflow: hidden;
	}

	
div.content-container form fieldset dl dt {
	width: 100px;
	text-align: right;
	padding: 8px 20px 0 0;
	margin: 0 0 15px 0;
	float: left;
	font-weight: bold;
	color: #242420;
	font-size: 11px;
	clear: both;
	}

div.content-container form fieldset dl dd {
	width: 385px;
	padding: 0;
	float: left;
	margin: 0 0 15px 0;
	}
	
div.content-container form fieldset dl dd input,
div.content-container form fieldset dl dd textarea {
	padding: 6px;
	font-size: 14px;
	background: #f5f5f3;
	border-top: 2px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 1px solid #ececea;
	border-left: 1px solid #ececea;
	margin: 0 3px 0 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}
	
div.content-container form fieldset dl dd input:focus,
div.content-container form fieldset dl dd textarea:focus {
	outline: none;
	} 
	
div.content-container form fieldset dl dd select {
	margin: 6px 0;
	}
	
div.content-container form fieldset dl dd input.file {
 background: #f5f5f3 url(../images/file-upload-icon.gif) no-repeat 13px center;
 padding: 10px 10px 11px 30px;
 border-radius: 3px;
  -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	border-radius: 3px;
	margin: 0 0 0px 0;
	font-size: 11px;
	border: 1px solid #ececea;
	border-top-width: 2px;
 }
 
div.content-container form fieldset dl dd p {
	margin: 5px 0 5px 0;
	}
	
div.content-container form fieldset dl dd ul {
	padding: 0;
	margin: 0;
	list-style: none;
	}
	
div.content-container form fieldset dl dd ul li {
	margin: 7px 0;
	}
	
div.content-container form fieldset dl dd img {
  vertical-align: middle;
	padding: 5px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 2px solid #ececea;
	border-left: 1px solid #ececea;
	margin: 0 15px 0 0;
	}
 
div.content-container form div.submit {
	margin: 0 0 0 120px;
	overflow: hidden;

	clear: both;
	}

div.content-container form div.submit input {
  background: #9fcf44;
  background-position: 15px center;
  background-repeat: no-repeat;
  padding: 7px 15px 8px 40px;
  margin: 0 5px 10px 0;
  border-color: #63b219;
  border-style: solid;
  border-width: 1px 1px 2px 1px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 3px;
  text-shadow: 0 1px 0 #63b219;
  cursor: pointer;
	}
	
div.content-container form div.submit input:hover {
  background-color: #a4d646;
	}
	
div.content-container form div.submit#sign-up input {
  background-image: url(../images/signup-button-icon.gif);
}

div.content-container form div.submit#login input {
  background-image: url(../images/login-button-icon.gif);
}

div.content-container form div.submit#save input {
  background-image: url(../images/save-button-icon.gif);
}


/*---HOME---*/

body.home div.page-header-container-inner {
 height: 240px;
}
body.home div.page-header-container-inner div.illustration {
 width: 924px;
 height: 302px;
 background: url(../images/home-illustration.png) no-repeat 0 0;
 position: absolute;
 margin: -20px 0 0 -78px;
 padding: 0;
 }
 
body.home div.page-header-container-inner div.illustration div.featured {
 height: 117px;
 width: 172px;
 float: right;
 margin: 102px 115px 0 0;
 }
 
body.home div.page-header-container-inner div.illustration a {
 border: none;
 }
 
body.home div.page-header-container-inner div.illustration div.featured img.featured-banner {
 float: right;
 position: relative;
 margin: -151px -16px 0 0;
 border: none;
 }

body.home div.page-header-container-inner div.welcome-container {
	width: 285px;
	float: left;
	}
	
body.home div.page-header-container-inner div.welcome-container h1 {
	line-height: 30px;
	float: none;
	}
	
body.home div.page-header-container-inner div.welcome-container p {
	margin: 15px 0 20px 0;
	text-shadow: 0 1px 0px #000;
	}
	
body.home div.page-header-container-inner div.welcome-container div.sign-up-button a:link,
body.home div.page-header-container-inner div.welcome-container div.sign-up-button a:visited {
	display: block;
	height: 35px;
	width: 149px;
	background-image: url(/images/home-sign-up-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	left: -5px;
	}
	
body.home div.page-header-container-inner div.welcome-container div.sign-up-button a:hover,
body.home div.page-header-container-inner div.welcome-container div.sign-up-button a:visited:hover {
	background-position: 0 -35px;
	}
	
body.home div.page-header-container-inner div.featured-weefolio {
	float: right;
	width: 416px;
	}

body.home div.page-header-container-inner div.featured-weefolio a img.featured {
	padding: 3px;
	border: 5px solid #2e2e29;
	background: #1d1d1a;
	}
		
body.home div.page-header-container-inner div.featured-weefolio img.banner {	
	position: absolute;
	margin: -3px 0 0 325px;
	}

body.home div.content-container {
 padding-top: 40px;
 }
 	
body.home div.content-container ul.features {
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
	list-style: none;
	width: 870px;
	}
	
body.home div.content-container ul.features div.row {
	overflow: hidden;
	}
	
body.home div.content-container ul.features li {
	padding: 0;
	margin: 0 20px 30px 20px;
	width: 230px;
	overflow: hidden;
	float: left;
	}
	
body.home div.content-container ul.features li img {
	border: 1px solid #ececea;
	padding: 15px;
		background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 2px solid #ececea;
	border-left: 1px solid #ececea;
	}
	
body.home div.content-container ul.features li p a {
	background: url(/images/feature-arrow.gif) no-repeat left center;
	padding: 0 0 1px 15px;
	}
	

/*---DIRECTORY---*/

body.users.index div.page-header-container-inner form#directory-search {
	margin: 2px 0 0 0;
	float: right;
	}

body.users.index div.page-header-container-inner form#directory-search input#search {
  background: #181815 url(/images/search-bar-icon.gif) 7px center no-repeat;
  border: 1px solid #10100e;
  border-top-width: 2px;
  -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #fff;
	padding: 7px 7px 8px 26px;
	width: 150px;
	}
	
body.users.index div.page-header-container-inner form#directory-search input#search:focus {
	outline: none;
	}
	
body.users.index ul#user-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 840px;
	}
	
body.users.index ul#user-list li {
	float: left;
	width: 138px;
	overflow: hidden;
	margin: 0 30px 20px 0;
	text-align: center;
	}

body.users.index ul#user-list li a {
	text-decoration: none;
	}	
	
body.users.index ul#user-list li a img {
	padding: 10px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 2px solid #ececea;
	border-left: 1px solid #ececea;
	margin: 0 0 5px 0;
	}
	
body.users.index ul#user-list li a span.username {
	text-decoration: underline;
	}
	
	
/*---THEMES---*/


body.themes.index div.page-header-container-inner div.call-to-action a:link,
body.themes.index div.page-header-container-inner div.call-to-action a:visited {
	display: block;
	height: 35px;
	width: 175px;
	background-image: url(/images/submit-theme-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	right: -5px;
	}
	
body.themes.index div.page-header-container-inner div.call-to-action a:hover,
body.themes.index div.page-header-container-inner div.call-to-action a:visited:hover {
	background-position: 0 -35px;
	}

body.themes.index div.content-container ul.themes {
 list-style: none;
 margin: 0;
 padding: 0;
}	

body.themes.index div.content-container ul.themes li.theme {
 float: left;
 overflow: hidden;
 margin: 10px;
}

body.themes.index div.content-container ul.themes li.theme div.image {
 padding: 9px;
		background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 2px solid #ececea;
	border-left: 1px solid #ececea;
	overflow: hidden;
	width: 230px;
}

body.themes.index div.content-container ul.themes li.theme div.options {
  width: 235px;
  overflow: hidden;
}

body.themes.index div.content-container ul.themes li.theme div.options a {
  display: block;
  float: left;
  margin: 5px 5px 0 0;
  width: 90px;
  text-align: center;
}

body.themes.index div.content-container ul.themes li.theme div.info h2 {
 margin-bottom: 5px;
}

body.themes.index div.content-container ul.themes li.theme div.info p {
 margin-top: 0;
}

/*---USERS > NEW (Pricing & Sign Up)---*/

body.users.new div.page-header-container-inner h1 {
	margin: 0 0 15px 0;
	}

	
body.users.new div.page-header-container-inner div.pricing {
 clear: both;
	overflow: hidden;
	padding: 10px 20px;
	background: #1d1d1a;
	border: 5px solid #2e2e29;
	margin: 0;
	}
	
body.users.new div.page-header-container-inner div.pricing table.chart {
	font-size: 11px;
	width: 100%;
	margin: 0;
	}

body.users.new div.page-header-container-inner div.pricing table.chart tr th {
	padding: 0 0 5px 0;
	text-align: center;
	font-family: Georgia, "Times New Roman", Serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	}
	
body.users.new div.page-header-container-inner div.pricing table.chart tr td {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #2e2e29;
	width: 20%;
	}
	
body.users.new div.page-header-container-inner div.pricing table.chart tr td.dark {
	background: #181815;
	}
		
body.users.new div.page-header-container-inner div.pricing table.chart tr td.feature {
	text-align: left;
	color: #fff;
	width: 40%;
	}

body.users.new div.page-header-container-inner div.pricing table.chart tr.pricing span.price {
	font-family: Georgia, "Times New Roman", Serif;
	font-size: 14px;
	font-style: italic;
	color: #fff;
	font-weight: bold;
	}
	
body.users.new div.page-header-container-inner div.pricing table.chart tr.pricing td {
	padding: 5px 0 0 0;
	}
	
body.users.new div.page-header-container-inner div.pricing table.chart tr td span.yes {
	width: 10px;
	height: 10px;
	overflow: hidden;
	text-indent: -500px;
	background: url(/images/feature-dot.png) 0 0 no-repeat;
	display: inline-block;
	}


/*---DESIGNS > EDIT ---*/

body.designs.edit div.page-header-container-inner div.call-to-action a#form_css_link:link,
body.designs.edit div.page-header-container-inner div.call-to-action a#form_css_link:visited {
	display: block;
	height: 35px;
	width: 166px;
	background-image: url(/images/design-editor-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	right: -5px;
	}
	
body.designs.edit div.page-header-container-inner div.call-to-action a#form_css_link:hover,
body.designs.edit div.page-header-container-inner div.call-to-action a#form_css_link:visited:hover {
	background-position: 0 -35px;
	}
	
body.designs.edit div.page-header-container-inner div.call-to-action a#custom_css_link:link,
body.designs.edit div.page-header-container-inner div.call-to-action a#custom_css_link:visited {
	display: block;
	height: 35px;
	width: 171px;
	background-image: url(/images/custom-html-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	right: -5px;
	}
	
body.designs.edit div.page-header-container-inner div.call-to-action a#custom_css_link:hover,
body.designs.edit div.page-header-container-inner div.call-to-action a#custom_css_link:visited:hover {
	background-position: 0 -35px;
	}

body.designs.edit div.content-container form div.layout-selection-container {
	padding: 20px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 20px 0;
	overflow: hidden;
	border-top: 2px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 1px solid #ececea;
	border-left: 1px solid #ececea;
	}
	
body.designs.edit div.content-container form div.layout-selection-container ul {
	width: 386px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	}
	
body.designs.edit div.content-container form div.layout-selection-container ul li.option {
	width: 113px;
	float: left;
	margin: 0 40px;
	text-align: center;
	}

body.designs.edit div.content-container form div.layout-selection-container ul li.option img {
	margin: 0 0 10px 0;
	}
	

body.designs.edit div.content-container form fieldset#design-color dl dd input {
	float: left;
	display: block;
	}
		
body.designs.edit div.content-container form fieldset dl dd div.color-preview {
	height: 32px;
	width: 240px;
	margin: 0 0 0 17px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	}

body.designs.edit div.content-container div.column.custom-html form fieldset {
 border: none;
 margin: 0;
 padding: 15px 0 0 0;
 }
 
body.designs.edit div.content-container div.column.custom-html form fieldset textarea.code {
 	padding: 6px;
	background: #f5f5f3;
	border-top: 2px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 1px solid #ececea;
	border-left: 1px solid #ececea;
	margin: 0 0 15px 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 796px;
		font-family: Courier;
	font-size: 12px;
 }	
 
body.designs.edit div.content-container div.column.custom-html div.submit {
 margin: 0;
 padding: 0;
 float: right;
 }
	
	
/*---PORTFOLIO > INDEX---*/

body.portfolios.edit div.page-header-container-inner div#portfolio-add-work a:link,
body.portfolios.edit div.page-header-container-inner div#portfolio-add-work a:visited {
	display: block;
	height: 35px;
	width: 149px;
	background-image: url(/images/portfolio-add-work-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	right: -5px;
	}
	
body.portfolios.edit div.page-header-container-inner div#portfolio-add-work a:hover,
body.portfolios.edit div.page-header-container-inner div#portfolio-add-work a:visited:hover {
	background-position: 0 -35px;
	}

body.portfolios.edit div.content-container p.count {
	padding: 15px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
	}
		
body.portfolios.edit div.content-container ul.pieces {
	margin: -10px 0 0 0;
	padding: 0;
	list-style: none;
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece {
	overflow: hidden;
	padding: 15px 10px;
	border-bottom: 1px solid #ececea;
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece img {
	display: block;
	float: left;
	padding: 5px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 2px solid #ececea;
	border-left: 1px solid #ececea;
	margin: 0 20px 0 0;
	}

body.portfolios.edit div.content-container ul.pieces li.piece div.piece-info {
	float: left;
	width: 500px;
	}
		
body.portfolios.edit div.content-container ul.pieces li.piece div.piece-info h3 {
	margin: 8px 0 0 0;
	}
	
body.portfolios.edit div#content-container ul.pieces li.piece div.piece-info p {
	margin: 5px 0 8px 0;
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options {
	float: right;
	margin: 0;
	padding: 0;
	}

body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li.option {
	margin:  0 0 0 10px;
	overflow: hidden;
	float: left;
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li.option a:link,
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li.option a:visited {
	display: block;
	overflow: hidden;
	text-indent: -500px;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li.option a:hover,
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li.option a:visited:hover {
	background-position: 0 -16px;
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li#delete a {
	background-image: url(/images/portfolio-delete-icon.gif);
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li#edit a {
	background-image: url(/images/portfolio-edit-icon.gif);
	}
	
body.portfolios.edit div.content-container ul.pieces li.piece ul.piece-options li#view a {
	background-image: url(/images/portfolio-view-icon.gif);
	display: none;
	}
	
	
/*--ACCOUNT > EDIT--*/
	
body.users.edit div.page-header-container-inner a.account-close {
	background: url(/images/close-account.gif) left center no-repeat;
	padding: 2px 0 2px 20px;
	display: block;
	margin: 7px 0 0 0;
	}
	
body.users.edit div.content-container div#billing_info {
	display: none;
	}
	
body.users.edit div.content-container form fieldset dl dd input#user_photo {
	padding-left: 0;
	background: #fff;
	border: none;
	}
	
/*--MAIN > HELP--*/

body.help div.main-help div.column.primary ul.topics {
	margin: 0;
	padding: 0;
	list-style: none;
	}

body.help div.main-help div.column.primary ul.topics li {
	margin: 0 0 30px 0;
	}
		
body.help div.main-help div.column.primary ul.topics li h2 {
	font-size: 11px;
	padding: 0 0 8px 0;
	border-bottom: 1px solid #ececea;
	}
	
body.help div.main-help div.column.primary ul.topics li dl dt {
	margin: 0 0 0 0px;
	padding: 4px 0 4px 30px;
	color: #242420;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	background: url(../images/help-questions-icon.gif) 0 4px no-repeat;	
	line-height: 20px;
	}
	
body.help div.main-help div.column.primary ul.topics li dl dd {
	margin: 0 0 15px 0;
	padding: 5px 15px 0 30px;
	}
	
	
/*--PIECE > NEW/EDIT--*/

div#piece_price {
	display: none;
	}

body.pieces.edit div.content-container div.column.primary fieldset ul.images {
	margin: -15px 0 0 0;
	padding: 0;
	list-style: none;
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image {
	overflow: hidden;
	padding: 15px 10px;
	border-bottom: 1px solid #ececea;
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image img {
	display: block;
	float: left;
	padding: 5px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-top: 1px solid #ececea;
	border-right: 1px solid #ececea;
	border-bottom: 2px solid #ececea;
	border-left: 1px solid #ececea;
	margin: 0 20px 0 0;
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options {
	float: right;
	margin: 0;
	padding: 0;
	}

body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li.option {
	margin:  0 0 0 10px;
	overflow: hidden;
	float: left;
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li.option a:link,
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li.option a:visited {
	display: block;
	overflow: hidden;
	text-indent: -500px;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li.option a:hover,
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li.option a:visited:hover {
	background-position: 0 -16px;
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li#delete a {
	background-image: url(/images/portfolio-delete-icon.gif);
	}
	
body.pieces.edit div.content-container div.column.primary fieldset ul.images li.image ul.image-options li#edit a {
	background-image: url(/images/portfolio-edit-icon.gif);
	}
	
body.pieces.edit div.content-container div.column.primary fieldset div.add-image {
  overflow: hidden;
  margin: 10px 0 20px 0;
}

body.pieces.edit div.content-container div.column.primary fieldset div.add-image a {
	display: block;
	float: right;
}


/*--PIECE > EDIT IMAGES--*/
body.image_uploads.index div.page-header-container-inner div.call-to-action a:link,
body.image_uploads.index div.page-header-container-inner div.call-to-action a:visited {
	display: block;
	height: 35px;
	width: 149px;
	background-image: url(/images/piece-add-image-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	right: -5px;
	}
	
body.image_uploads.index div.page-header-container-inner div.call-to-action a:hover,
body.image_uploads.index div.page-header-container-inner div.call-to-action a:visited:hover {
	background-position: 0 -35px;
	}
	
	
/*--DOCS > THEMES--*/

body.themes dl.tag-list {
	overflow: hidden;
	}
	
body.themes dl.tag-list dt {
	width: 180px;
	float: left;
	clear: both;
	padding: 10px;
	background: #ececea;
	border-bottom: 1px solid #fff;
	color: #242420;
	font-weight: bold;
	}
	
body.themes dl.tag-list dd {
	width: 488px;
	float: left;
	margin: 0;
	padding: 10px;
	background: #f5f5f3;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	}
		
body.themes table {	
	width: 100%;
	}
	
body.themes table.tags td {
	padding: 10px;
	}
	
body.themes table.tags tr td.tag {
	background: #ececea;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
	width: 180px;
	text-align: center;
	font-family: Courier;
	color: #242420;
	}
	
body.themes table.tags tr td.description {
	background: #f5f5f3;
	border-bottom: 1px solid #fff;
	}