/*---GLOBAL---*/

body {
	background: #f5f5f3;
	margin: 0 0 80px 0;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-size: 11px;
	line-height: 15px;
	color: #767574;
	}
	
a:link,
a:visited {
	color: #9fcf44;
	}
	
a:hover,
a:visited:hover {
	color: #242420;
	}
	

/*---GLOBAL STRUCTURES---*/

div#page-container {
	width: 750px;
	margin: 0 auto;
	}
	
div#header-container {
	background: #ff4715 url(../images/header-container-background.gif) repeat-x top;
	overflow: hidden;	padding: 0 20px;
	clear: both;
	height: 55px;
	}
	
div#page-header-container-outer {
	background: url(../images/page_header_container_outer_background.gif) no-repeat 0 0;
	overflow: hidden;
	}
	
div#page-header-container-inner {
	background: url(../images/page_header_container_inner_background.gif) no-repeat bottom center;
	padding: 25px 40px;
	overflow: hidden;
	}
	
div#content-container {
	background: #fff;
	padding: 20px;
	overflow: hidden;
	}
	
div#footer-container {
	margin: 20px 0 0 0;
	padding: 0 20px;
	}
	
/*--GLOBAL NAV--*/

ul#global-nav {
	float: right;
	margin: 30px 20px 30px 0;
	padding: 0;
	list-style: none;
	}
	
ul#global-nav li {
	display: inline;
	margin: 0 0 0 15px;
	}
	
ul#global-nav li.welcome {
	background: #fff;
	padding: 5px 8px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
	}
	
ul#global-nav li.welcome a:link,
ul#global-nav li.welcome a:visited {
	color: #9fcf44;
	text-shadow: none;
	text-decoration: underline;
	}
	
ul#global-nav li.welcome a:hover,
ul#global-nav li.welcome a:visited:hover {	
	color: #242420;
	text-decoration: underline;
	}
	
ul#global-nav li a:link,
ul#global-nav li a:visited {
	color: #767574;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	}
	
ul#global-nav li a:hover,
ul#global-nav li a:visited:hover {	
	color: #242420;
	}
	
ul#global-nav li:first-child a:link,
ul#global-nav li:first-child a:visited {
	display: inline-block;
	width: 9px;
	height: 10px;
	overflow: hidden;
	text-indent: -1000px;
	background-image: url(../images/global-home-icon.gif);
	background-position: 0 0;
	position: relative;
	top: 1px;
	}
	
ul#global-nav li:first-child a:hover,
ul#global-nav li:first-child a:visited:hover {
	background-position: 0 -10px;
	}


/*--GLOBAL NOTIFICATIONS--*/

div.errorExplanation {
	}


/*--HEADER--*/

div#header-container a#header-logo {
	float: left;
	display: block;
	width: 64px;
	height: 21px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../images/header-logo.gif) 0 0 no-repeat;
	margin: 17px 0;
	}
	

/*--USER NAV--*/

ul#user-nav {
	float: right;
	list-style: none;
	margin: 0;
	position: relative;
	right: -5px;
	}
	
ul#user-nav li {
	float: left;
	padding: 0;
	}
	
ul#user-nav li#or {
	background: url(../images/user-nav-background.gif) -383px 0;
	height: 55px;
	width: 13px;
	overflow: hidden;
	text-indent: -5000px;
	margin: 0 0 0 10px;
	}
	
ul#user-nav li a {
	display: block;
	float: left;
	height: 55px;
	background-image: url(../images/user-nav-background.gif);
	background-repeat: no-repeat;
	margin: 0 0 0 20px;
	text-indent: -5000px;
	overflow: hidden;
	}
	
ul#user-nav li.selected a {
	background-position-y: -55px; 
	}

ul#user-nav li#portfolio a {
	background-position-x: 0;
	width: 71px;
	}
	
ul#user-nav li#design a {
	background-position: -71px 0;
	width: 55px;
	}

ul#user-nav li#account a {
	background-position: -126px 0;
	width: 68px;
	}
	
ul#user-nav li#my-weefolio a:link,
ul#user-nav li#my-weefolio a:visited {
	background-position: -194px 0;
	width: 120px;
	}
	
ul#user-nav li#my-weefolio a:hover,
ul#user-nav li#my-weefolio a:visited:hover {
	background-position: -194px -55px;
	}
	
ul#user-nav li#sign-up a {
	background-position: -314px 0;
	width: 69px;
	}
	
ul#user-nav li#login a:link,
ul#user-nav li#login a:visited {
	background-position: -396px 0;
	width: 70px;
	margin: 0 0 0 10px;
	}
	
ul#user-nav li#login a:hover,
ul#user-nav li#login a:visited:hover {
	background-position: -396px -55px;
	}


/*--PAGE HEADER--*/

div#page-header-container-inner h1 {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 26px;
	color: #fff;
	font-weight: normal;
	margin: 3px 0;
	float: left;
	line-height: 25px;
	display: block;
	}
	
div#page-header-container-inner h1 small {
	font-size: 13px;
	color: #9e9d9b;
	font-style: italic;
	margin: 0;
	}
	
div#page-header-container-inner div.call-to-action {
	float: right;
	}
	
div#page-header-container-inner a:hover,
div#page-header-container-inner a:visited:hover {
	color: #fff;
	}
	
	
/*--CONTENT--*/

div#content-container p.intro {
	padding: 15px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 20px 0;	
	}
	
div#content-container div.col-left {
	width: 475px;
	float: left;
	}
	
div#content-container div.col-right {
	width: 215px;
	float: right;
	}
	
div#content-container div.col-right ul.content-nav {
	padding: 0;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 20px 0;
	list-style: none;
	}
	
div#content-container div.col-right ul.content-nav h2 {
	font-size: 11px;
	margin: -3px 0 0 0;
	padding: 0 0 8px 0;
	border-bottom: 1px dashed #ddd;
	}
	
div#content-container div.col-right ul.content-nav li a {
	padding: 7px 0 8px 15px;
	border-bottom: 1px dashed #ddd;
	display: block;
	background: url(/images/content-nav-arrow.gif) left center no-repeat;
	}
	
/*--FOOTER--*/

div#footer-container a#footer-logo {
	display: block;
	float: left;
	width: 84px;
	height: 18px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../images/footer-logo.gif) 0 0 no-repeat;
	margin: 0 10px 0 0;
	position: relative;
	top: -1px;
	display: none;
	}
	
div#footer-container div#legal {
	float: left;
	text-shadow: 0 1px 0 #fff;
	}
	
div#footer-container ul#footer-nav {
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
div#footer-container ul#footer-nav li {
	display: inline;
	margin: 0 0 0 15px;
	}
	
div#footer-container a:link,
div#footer-container a:visited {
	color: #767574;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	}
	
div#footer-container a:hover,
div#footer-container a:visited:hover {
	color: #242420;
	}
	

/*-- GLOBAL FORMS --*/

div#content-container form {
	overflow: hidden;
	margin: 0;
	padding:  0;
	}
	
div#content-container form fieldset {
	border: 0;
	overflow: hidden;
	margin: 0 0 20px 0;
	border-bottom: 1px dashed #ddd;
	}
	
div#content-container form h2 {
	margin: 0 0 20px 125px;
	padding: 4px 0 2px 40px;
	color: #242420;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	background: url(../images/form-h2-arrow.gif) left center no-repeat;
	}
	
div#content-container form fieldset dl {
	padding: 0;
	margin: 0;
	list-style: none;
	}

	
div#content-container form fieldset dl dt {
	width: 145px;
	text-align: right;
	padding: 7px 20px 0 0;
	margin: 0 0 20px 0;
	float: left;
	font-weight: bold;
	color: #242420;
	font-size: 12px;
	clear: both;
	}

div#content-container form fieldset dl dd {
	width: 500px;
	padding: 0;
	float: left;
	margin: 0 0 20px 0;
	}
	
div#content-container form fieldset dl dd input,
div#content-container form fieldset dl dd textarea {
	padding: 6px;
	font-size: 12px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
	margin: 0;
	}
	
div#content-container form fieldset dl dd select {
	margin: 5px 0;
	}
	
div#content-container form fieldset dl dd p {
	margin: 5px 0 5px 0;
	}
	
div#content-container form fieldset dl dd ul {
	padding: 0;
	margin: 0;
	list-style: none;
	}
	
div#content-container form fieldset dl dd ul li {
	margin: 7px 0;
	}
	
div#content-container form div.submit {
	margin: 0 0 0 172px;
	overflow: hidden;
	}

div#content-container form div.submit input {
	background: #9fcf44;
	padding: 7px 15px;
	border: 0;
	color: #fff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-transform: uppercase;
	font-family: "Lucida Grande", Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	margin: 0;
	}
	
div#content-container form div.submit input:hover {
	background: #242420;
	}


/*---HOME---*/

div#page-header-container-inner div.welcome-container {
	width: 240px;
	float: left;
	}
	
div#page-header-container-inner div.welcome-container h1 {
	line-height: 25px;
	float: none;
	}
	
div#page-header-container-inner div.welcome-container p {
	margin: 15px 0;
	}
	
div#page-header-container-inner div.welcome-container div.sign-up-button a:link,
div#page-header-container-inner div.welcome-container div.sign-up-button a:visited {
	display: block;
	height: 36px;
	width: 144px;
	background-image: url(/images/home-sign-up-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	left: -5px;
	}
	
div#page-header-container-inner div.welcome-container div.sign-up-button a:hover,
div#page-header-container-inner div.welcome-container div.sign-up-button a:visited:hover {
	background-position: 0 -36px;
	}
	
div#page-header-container-inner div.featured-weefolio {
	float: right;
	width: 400px;
	height: 180px;
	padding: 3px;
	border: 5px solid #2e2e29;
	background: #1d1d1a;
	}


/*---USERS > NEW (Pricing & Sign Up)---*/

div#page-header-container-inner div.pricing {
	padding:0;
	clear: both;
	overflow: hidden;
	}
	
div#page-header-container-inner div.pricing table.chart {
	font-size: 11px;
	width: 100%;
	padding: 10px 20px;
	background: #1d1d1a;
	border: 5px solid #2e2e29;
	margin: 15px 0 0 0;
	}

div#page-header-container-inner div.pricing table.chart tr th {
	padding: 0 0 5px 0;
	text-align: center;
	font-family: Georgia, "Times New Roman", Serif;
	font-weight: normal;
	font-size: 14px;
	color: #fff;
	}
	
div#page-header-container-inner div.pricing table.chart tr td {
	padding: 5px;
	text-align: center;
	border-top: 1px solid #2e2e29;
	width: 20%;
	
	}
	
div#page-header-container-inner div.pricing table.chart tr td.dark {
	background: #181815;
	}
		
div#page-header-container-inner div.pricing table.chart tr td.feature {
	text-align: left;
	color: #fff;
	width: 40%;
	}

div#page-header-container-inner div.pricing table.chart tr.pricing span.price {
	font-family: Georgia, "Times New Roman", Serif;
	font-size: 14px;
	font-style: italic;
	color: #fff;
	font-weight: bold;
	}
	
div#page-header-container-inner div.pricing table.chart tr.pricing td {
	padding: 5px 0 0 0;
	}
	
div#page-header-container-inner div.pricing table.chart tr td span.yes {
	width: 10px;
	height: 10px;
	overflow: hidden;
	text-indent: -500px;
	background: url(/images/feature-dot.png) 0 0 no-repeat;
	display: inline-block;
	}


/*---DESIGNS > EDIT ---*/

div#content-container form div.layout-selection-container {
	padding: 20px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin: 0 0 20px 0;
	overflow: hidden;
	}
	
div#content-container form div.layout-selection-container ul {
	width: 386px;
	list-style: none;
	margin: 0 auto;
	padding: 0;
	}
	
div#content-container form div.layout-selection-container ul li.option {
	width: 113px;
	float: left;
	margin: 0 40px;
	text-align: center;
	}

div#content-container form div.layout-selection-container ul li.option img {
	margin: 0 0 10px 0;
	}
	

div#content-container form fieldset#design-color dl dd input {
	float: left;
	display: block;
	}
		
div#content-container form fieldset dl dd div.color-preview {
	height: 17px;
	width: 300px;
	margin: 0 0 0 20px;
	padding: 6px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	float: left;
	}
	
#page_bg_color {
	background: #FFFFFF;
}

#background {
	background: #f5f5f3;
}

#border_color {
	background: #eeeeee;
}

#text_color {
	background: #767574;
}

#title_color {
	background: #242420;
}

#link_color {
	background: #9fcf44;
}

#link_hover_color {
	background: #242420;
}
	
/*---PORTFOLIO > INDEX---*/

div#page-header-container-inner div#portfolio-add-work a:link,
div#page-header-container-inner div#portfolio-add-work a:visited {
	display: block;
	height: 36px;
	width: 132px;
	background-image: url(/images/portfolio-add-work-button.gif);
	background-position: 0 0;
	background-repeat: no-repeat;
	overflow: hidden;
	text-indent: -5000px;
	position: relative;
	right: -5px;
	}
	
div#page-header-container-inner div#portfolio-add-work a:hover,
div#page-header-container-inner div#portfolio-add-work a:visited:hover {
	background-position: 0 -36px;
	}

div#content-container p.count {
	padding: 15px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
	}
		
div#content-container ul.pieces {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
div#content-container ul.pieces li:first-child {
	border-top: none;
	margin: 0 10px 15px 10px;
	}
	
div#content-container ul.pieces li.piece {
	overflow: hidden;
	padding: 15px 10px;
	border-top: 1px dashed #ddd;
	}
	
div#content-container ul.pieces li.piece img {
	display: block;
	float: left;
	padding: 4px;
	background: #f5f5f3;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border: 1px solid #ddd;
	margin: 0 20px 0 0;
	}

div#content-container ul.pieces li.piece div.piece-info {
	float: left;
	width: 500px;
	}
		
div#content-container ul.pieces li.piece div.piece-info h3 {
	margin: 8px 0 0 0;
	}
	
div#content-container ul.pieces li.piece div.piece-info p {
	margin: 5px 0 8px 0;
	}
	
div#content-container ul.pieces li.piece ul.piece-options {
	float: right;
	margin: 0;
	padding: 0;
	}

div#content-container ul.pieces li.piece ul.piece-options li.option {
	margin:  0 0 0 10px;
	overflow: hidden;
	float: left;
	}
	
div#content-container ul.pieces li.piece ul.piece-options li.option a:link,
div#content-container ul.pieces li.piece ul.piece-options li.option a:visited {
	display: block;
	overflow: hidden;
	text-indent: -500px;
	width: 16px;
	height: 16px;
	background-position: 0 0;
	}
	
div#content-container ul.pieces li.piece ul.piece-options li.option a:hover,
div#content-container ul.pieces li.piece ul.piece-options li.option a:visited:hover {
	background-position: 0 -16px;
	}
	
div#content-container ul.pieces li.piece ul.piece-options li#delete a {
	background-image: url(/images/portfolio-delete-icon.gif);
	}
	
div#content-container ul.pieces li.piece ul.piece-options li#edit a {
	background-image: url(/images/portfolio-edit-icon.gif);
	}
	
div#content-container ul.pieces li.piece ul.piece-options li#view a {
	background-image: url(/images/portfolio-view-icon.gif);
	display: none;
	}
	
/*--ACCOUNT > EDIT--*/
	
div#billing_info {
	display: none;
	}
	
/*--MAIN > HELP--*/

div.main-help div.col-left ul.topics {
	margin: 0;
	padding: 0;
	list-style: none;
	}

div.main-help div.col-left ul.topics li {
	margin: 0 0 30px 0;
	}
		
div.main-help div.col-left ul.topics li h2 {
	font-size: 11px;
	margin: 0 0 15px 15px;
	}
	
div.main-help div.col-left ul.topics li dl dt {
	margin: 0 0 0 15px;
	padding: 4px 0 4px 30px;
	color: #242420;
	font-weight: normal;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	background: url(../images/help-questions-icon.gif) left center no-repeat;	
	line-height: 20px;
	}
	
div.main-help div.col-left ul.topics li dl dd {
	margin: 0 0 15px 0;
	padding: 5px 15px 20px 45px;
	border-bottom: 1px dashed #ddd;
	}
	
	
/*--PIECE > NEW/EDIT--*/

div#piece_price {
	display: none;
	}

