<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1>Close Account <small>Are you sure?</small></h1>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div class="content-container">
  <p class="intro">
    Are you sure you want to close your account? This action cannot be undone.
  </p>
  <p>
    <%# Got to fix this :remove_account bullshit. Terrible hack! %>
    <%= link_to 'Yes, please close my account!', remove_account_user_path(:remove_account) %> or <%= link_to 'Cancel', edit_user_path(current_user) %>
  </p>
</div>