<!--PAGE TITLE/CALL-TO-ACTION-->
<%# YIELD %>
<div id="page-header-container-outer">
	<div id="page-header-container-inner">
		<h1>Directory <small>Explore other artist's weefolios or <a href="#">create your own</a>!</small></h1>
		
		<% form_tag users_path, :method => 'get', :id => "directory-search" do %>
		  <%= text_field_tag :search, params[:search], :html_options => {:id => "search"} %>
		<% end %>
	</div>
</div>

<!--PAGE CONTENT-->
<%# YIELD %>
<div id="content-container">
  
    <% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>
  
  <% for user in @users %>
    <% unless user.photo.size.blank? %>
      <%= link_to (image_tag user.photo.url(:large_thumb)), user_portfolio_path(user, user.portfolio) %>
    <% end %>
  <% end %>
</div>


