<h1>Users Admin</h1>

	<% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>

<% for user in @users %>
  <p>
    <%= user.login %> | <%= link_to 'Delete', user_path(user), :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>