<h1>Pieces Admin</h1>

	<% if flash[:warning] or flash[:notice] %>
  		<div id="notice" <% if flash[:warning] %>class="warning"<% end %>>
    <%= flash[:warning] || flash[:notice] %>
  		</div>
	<% end %>


<% for piece in @pieces %>
  <p>
    <%=h piece.title %> <%= link_to 'Delete', piece_path(piece), :confirm => "Are you sure?", :method => :delete %>
  </p>
<% end %>