<h1>Edit <%= @theme.name %></h1>

<% form_for @theme, :url => admin_theme_path, :html => { :multipart => true,  :method => :put } do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>