<h1>Add You a Theme</h1>

<% form_for @theme, :url => admin_themes_path, :html => { :multipart => true,  :method => :post } do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>
  
