<html>
	<head>
		<title>Portfolio Template</title>
		<%= stylesheet_link_tag 'editable.css'%>
		<%= stylesheet_link_tag 'un-editable.css'%>
	</head>
	
	<body class="">
		<div id="page-container">
			<div id="header-container">
				<img src="#" width="710" height="100" alt="header-image">
			</div>
			
			<div id="tagline-container">
				<h1>Hello! My name is <a href="#">Username</a> and this is my Weefolio!</h1>
			</div>
			
			<hr/>
			
			<div id="portfolio-container">
				<ul id="portfolio-grid">
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
					<li><a href="#"><img src="#" width="116" height="116" alt="item-thumbnail-large"/></a></li>
				</ul>
				
				<!--OR-->
				
				<!--<div class="piece-container">
					<div class="image-container">
						<img src="#" height="300" width="710" alt="piece-image"/>
					</div>
					
					<ul class="thumb-grid">
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
					</ul>
					
					<div class="piece-info">
						<h2>Title of the piece <span class="for-sale">199.00</span></h2>
						<p>Typi qui nunc nobis videntur parum clari fiant sollemnes in. Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum? Duis autem dolore, eu feugiat nulla facilisis at vero eros?</p>
					</div>
				</div>
				
				<hr/>
				
				<div class="piece-container">
					<div class="image-container">
						<img src="#" height="300" width="710" alt="piece-image"/>
					</div>
					
					<ul class="thumb-grid">
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
					</ul>
					
					<div class="piece-info">
						<h2>Title of the piece</h2>
						<p>Typi qui nunc nobis videntur parum clari fiant sollemnes in. Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum? Duis autem dolore, eu feugiat nulla facilisis at vero eros?</p>
					</div>
				</div>
				
				<hr/>
				
				<div class="piece-container">
					<div class="image-container">
						<img src="#" height="300" width="710" alt="piece-image"/>
					</div>
					
					<ul class="thumb-grid">
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
						<li><a href="#"><img src="#" width="70" height="70" alt="item-thumbnail-small"/></a></li>
					</ul>
					
					<div class="piece-info">
						<h2>Title of the piece <span class="for-sale">199.00</span></h2>
						<p>Typi qui nunc nobis videntur parum clari fiant sollemnes in. Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum? Duis autem dolore, eu feugiat nulla facilisis at vero eros?</p>
					</div>
				</div>-->
			</div>
			
			<hr/>
			
			<div id="info-container">
				<div id="about-container">
					<h2>About Username</h2>
					<p>Typi qui nunc nobis videntur parum clari fiant sollemnes in. Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat vel illum? Duis autem dolore, eu feugiat nulla facilisis at vero eros?</p>
				</div>
				
				<div id="contact-container">
					<h2>Contact Username</h2>
					
					<form action="#" method="post">
						<fieldset>
							<label for="#">Name</label>
							<input id="contact-name" type="text" name="#"/>
						</fieldset>
						
						<fieldset>
							<label for="#">Email</label>
							<input id="contact-email" type="text" name="#"/>
						</fieldset>
						
						<fieldset>
							<label for="#">Message</label>
							<textarea rows="5" id="contact-message" name="#"></textarea>
						</fieldset>
						
						<div id="contact-submit">
							<input type="submit" value="Send Message"/>
						</div>
					</form>
				</div>
			</div>
			
			<div id="footer-container">
				<a id="weefolio-logo" href="#">Weefolio</a>
			</div>
		</div>
	</body>
	<%= javascript_include_tag 'jquery-1.3.1.min.js' %>
</html>