<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1><%= @piece.title %> <small>Edit Image</small></h1>
	</div>
</div>

<div class="content-container">
  <%= render :partial => 'form' %>
</div>