<div class="page-header-container-outer">
	<div class="page-header-container-inner">
		<h1><%= @piece.title %> <small>New Image</small></h1>
	</div>
</div>

<div class="content-container">
  <% if @piece.can_add_more_images? %>
    <%= render :partial => 'form' %>
  <% else %>
    <p class="intro">
      You've added all the images to this piece allowed by your current plan type. <%= link_to "Upgrade", edit_user_path(current_user) %> to add more!
    </p>
  <% end %>
</div>